<!DOCTYPE html>
<html>
    {% load static %}
<head>
    <title>Grammar Checker</title>
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-200">
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold mb-6">TextMaster</h1>

        <form action="/" method="POST">
            {% csrf_token %}
            <div class="flex mb-4">
                <textarea name="text"  class="w-full  rounded-lg p-2" placeholder="Enter text"></textarea>
            </div>
            <div class="flex">
                
                
                <button type="submit" name="button" value="spell" class="mr-2 bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded">Spell Corrected Text</button>
                <button type="submit" name="button" value="summary" class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded">Summary</button>
                <button type="submit" name="button" value="grammar" style="margin-left: 5px;" class="mr-2 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Grammar Corrected Text</button>
            </div>
        </form>

        {% if text %}
        <div class="mt-8">
            {% if button == 'original' %}
            <h2 class="text-xl font-bold mb-2">Original Text:</h2>
            <p>{{ text }}</p>
            {% elif button == 'grammar' %}
            <h2 class="text-xl font-bold mb-2">Grammar Corrected Text:</h2>
            <p>{{ corrected_text }}</p>
            {% elif button == 'spell' %}
            <h2 class="text-xl font-bold mb-2">Spell Corrected Text:</h2>
            <p>{{ corrected_spelling_text }}</p>
            {% elif button == 'summary' %}
            <h2 class="text-xl font-bold mb-2">Summary:</h2>
            <p>{{ summary }}</p>
            {% endif %}
        </div>
        {% endif %}
    </div>
    
</body>
</html>
